main{
    display: block;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    padding: 5rem 0 0 0;
    position: relative;
}

.boxOrcamentos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tableHeader{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 96%;
    margin: 0 auto;
    padding: .5rem 0;
    gap: .5rem;
}

.tableHeader th:nth-child(2){
    width: 100%;
}

.tableHeader .boxInput{
    padding: 0.4rem .5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: white;
    display: inline-flex;
    gap: .5rem;
}

.tableHeader .boxInput span{
    cursor: pointer;
}

.tableHeader input::placeholder{
    color: var(--color-primary);
}

.tableHeader button{
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--color-primary);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
}

table{
    margin: 0 2% 0 0;
    table-layout: fixed;
    display: block;
    position: relative;
    max-width: calc(100vw - 4%);
    max-height: calc(100vh - 10rem);
    overflow: auto;
}

table thead{
    position: sticky;
    top: 0;
    background: var(--color-background);
}

table thead th{
    padding: 20px 15px;
    text-align: left;
    font-weight: bold;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}

table tbody tr td{
    padding: 0.5rem;
    white-space: nowrap;
}

table tbody tr td:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

table tbody tr td:nth-child(1){
    text-align: right;
}

table tbody tr td:nth-child(2) span{
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    font-weight: bold;
    color: #000;
}

table tbody tr td:nth-child(3) span, table tbody tr td:nth-child(7) span{
    vertical-align: middle;
    cursor: pointer;
}

table tbody tr td:nth-child(2) span.finalizado{
    background-color: var(--color-success);
}

table tbody tr td:nth-child(2) span.pendente{
    background-color: var(--color-warning);
}

table tbody tr td:nth-child(2) span.cancelado{
    background-color: var(--color-danger);
}

table tbody tr td:nth-child(2) span.espirado{
    background-color: #7d8da1;
}

table tbody tr td:last-child span{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .25rem;
    font-size: 1.5rem;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
    transition: all ease 300ms;
}

table tbody tr td:last-child span:hover{
    box-shadow: none;
}

table tbody tr td:last-child span.finaly{
    background-color: var(--color-success);
    font-weight: bold;
}

table tbody tr td:last-child span.download{
    background-color: var(--color-primary);
}

table tbody tr td:last-child span.edit{
    background-color: #0298cf;
}

table tbody tr td:last-child span.cancel{
    background-color: #f80000;
}

table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.12);
}

table::-webkit-scrollbar {
    width: .25rem;
    height: .4rem;
}

table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
table::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.bgShowProdutos, .bgShowAlteracoes{
    position: fixed;
    top: 0;
    z-index: 4;
    display: flex;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(147,184,189,0.2);
}

.bgShowProdutos .boxShowProdutos, .bgShowAlteracoes .boxShowAlteracoes{
    background-color: white;
    padding: 0.5rem 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 96vw;
    max-width: 650px;
}

.bgShowAlteracoes .boxShowAlteracoes{
    max-width: 350px;
}

.bgShowProdutos .boxShowProdutos .head, .bgShowAlteracoes .boxShowAlteracoes .head{
    width: 96%;
    display: flex;
    margin: 0 auto;
    padding: 0.5rem 0;
    justify-content: space-between;
}

.bgShowProdutos .boxShowProdutos .head h2, .bgShowAlteracoes .boxShowAlteracoes .head h2{
    color: #000;
}

.bgShowProdutos .boxShowProdutos .head .close, .bgShowAlteracoes .boxShowAlteracoes .head .close{
    cursor: pointer;
    font-weight: bold;
    color: #000;
}

.bgShowProdutos .boxShowProdutos table thead th:nth-child(2){
    min-width: 12rem;
}

.bgShowProdutos .boxShowProdutos table tbody tr td{
    white-space: normal;
    color: #000;
}

.bgShowProdutos .boxShowProdutos table tbody tr td:nth-child(2){
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: normal;
    word-wrap: break-word;
    max-height: 4.5rem;
}

.bgShowProdutos .boxShowProdutos table tbody tr td:nth-child(3), .bgShowProdutos .boxShowProdutos table tbody tr td:nth-child(4){
    display: table-cell;
    text-align: right;
}

.bgShowProdutos table img{
    height: 4rem;
    object-fit: contain;
}

@media screen and (min-width: 1541px){
    .box aside {
        height: fit-content;
    }
}

@media screen and (min-width: 1541px){
    .box {
        display: grid;
        grid-template-columns: 14rem calc(100vw - 15rem);
        max-width: 1746px;
        gap: 1rem;
        margin: 0 auto;
        width: fit-content;
        min-height: 100vh;
    }
}

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

ul li { 
    display: flex; 
    color: #999;
    width: 100%;
}
  
ul time { 
    position: relative;
    padding: 0 1rem 0 0.5rem;
    width: 50%;
    justify-content: center;
}

ul li time::after { 
    content: "";
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    transform: translateX(50%);
    border-radius: 50%;
    background: #fff;
    border: 1px #ccc solid;
    width: .8em;
    height: .8em;
}

ul li.cancel time::after {
    background: var(--color-danger);
    border: 1px var(--color-danger) solid;
}

ul li.finaly time::after {
    background: var(--color-success);
    border: 1px var(--color-success) solid;
}

ul li.expired time::after {
    background: #7d8da1;
    border: 1px #7d8da1 solid;
}


ul span {
    padding: 0 .5rem 1rem 1rem;
    position: relative;
    width: 50%;
    color: gray;
    font-weight: bolder;
}

ul span p{
    color: #000;
    font-weight: normal;
}

ul li:not(:last-child) span::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    height: 100%;
    border-left: 1px #ccc solid;
}

ul strong {
    display: block;
    font-weight: bolder;
    color: #000;
}